# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/

# PyCharm
.idea/

# PyInstaller
*.spec

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Environments
.env
.env.*
*.env

# VS Code (если кто-то будет открывать)
.vscode/

# MacOS / Linux system files
.DS_Store
Thumbs.db
